* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

/*
  colors
*/
/*
  End Colors
*/
/*
  Box-sizing
*/
/*
  End Margins
*/
body {
  background: #002d54;
  font-size: 22px;
  font-family: "Poppins Medium", sans-serif;
}
@media (max-width: 1024px) {
  body {
    font-size: 20px;
  }
}
@media (max-width: 414px) {
  body {
    font-size: 16px;
  }
}

a {
  color: #ffead6;
  text-decoration: none;
}

li {
  list-style: none;
}

.container {
  width: 90%;
  height: 100%;
  margin: 0 auto;
}

#navbar {
  width: 100%;
  height: 10vh;
  z-index: 13;
  position: fixed;
  top: 0;
  left: 0;
  transition: all 0.3s ease-in-out;
}
#navbar.scrolled {
  background: #2A519E;
}
#navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#navbar .logo-container {
  flex: 2;
}
#navbar .logo-container .logo {
  width: 100px;
  transition: transform 0.3s linear;
}
#navbar .logo-container .logo:hover {
  transform: scale(1.2);
}
#navbar .menu {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}
#navbar .menu .line:nth-child(1) {
  width: 25px;
  height: 2px;
  margin: 5px;
  background: #ffc21c;
}
#navbar .menu .line:nth-child(2) {
  width: 45px;
  height: 2px;
  margin: 5px;
  background: #ffc21c;
}
#navbar .menu .line:nth-child(3) {
  width: 25px;
  height: 2px;
  margin: 5px;
  background: #ffc21c;
}
#navbar .menu:hover .line:nth-child(1), #navbar .menu:hover .line:nth-child(3) {
  width: 45px;
  transition: all 0.3s ease-out;
}
#navbar .menu.close .line:nth-child(2) {
  opacity: 0;
}

#collapse-navbar {
  width: 100vw;
  height: 100vh;
  background: #2A519E;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 11;
  opacity: 0;
  pointer-events: none;
  transition: all 1.2s ease-in-out;
  clip-path: circle(0px at 100% 0%);
}
#collapse-navbar .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#collapse-navbar li {
  padding: 10px 20px;
}
#collapse-navbar .navitem {
  text-transform: uppercase;
  font-size: 1.2em;
  margin-bottom: 20px;
  transition: all 0.3s linear;
  position: relative;
}
#collapse-navbar .navitem::before {
  content: "";
  position: absolute;
  bottom: -20%;
  left: 0;
  width: 0;
  height: 3px;
  border-radius: 3px;
  background: #ffc21c;
  transition: all 0.3s linear;
}
#collapse-navbar .navitem:hover {
  color: #ffc21c;
  font-weight: bolder;
  width: 100%;
}
#collapse-navbar .navitem:hover::before {
  width: 100%;
}
#collapse-navbar.open {
  opacity: 1;
  pointer-events: all;
  clip-path: circle(2000px at 100% 0%);
}

#hero {
  width: 100vw;
  height: 100vh;
  background: radial-gradient(circle, rgba(0, 0, 0, 0.8) 40%, rgba(0, 26, 48, 0.8) 100%), url("../asset/img/hero-photo.jpg") no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  text-align: center;
}
#hero .container {
  display: grid;
  place-items: center;
}
#hero .content {
  width: 70%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media (max-width: 1024px) {
  #hero .content {
    width: 80%;
  }
}
@media (max-width: 414px) {
  #hero .content {
    width: 100%;
  }
}
#hero .content .hero-header {
  color: #ffc21c;
  font-size: 2.3em;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
#hero .content .hero-desc {
  color: #ffead6;
  font-size: 0.89em;
  margin-bottom: 20px;
}
#hero .content .cta {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
}
@media (max-width: 414px) {
  #hero .content .cta {
    flex-direction: column;
    justify-content: center;
  }
}
#hero .content .join {
  padding: 15px 30px;
  background: #ffc62b;
  border-radius: 7px;
  margin-right: 20px;
  color: #001a30;
  text-transform: uppercase;
  transition: all 0.3s ease-out;
}
@media (max-width: 414px) {
  #hero .content .join {
    margin-bottom: 20px;
    margin: 12px auto;
  }
}
#hero .content .join:hover {
  border: 1px solid #ffbe0d;
  background: #001a30;
  color: #ffc21c;
}
#hero .content .app {
  padding: 15px 30px;
  background: #ffc62b;
  border-radius: 7px;
  color: #001a30;
  text-transform: uppercase;
  transition: all 0.3s ease-out;
  margin: 12px auto;
}
#hero .content .app:hover {
  border: 1px solid #ffbe0d;
  background: #001a30;
  color: #ffc21c;
}

#about {
  width: 100vw;
  height: 60vh;
}
@media (max-width: 414px) {
  #about {
    height: 100vh;
  }
}
#about .container {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
#about .card {
  text-align: center;
  margin-left: 5px;
}
#about .card .about-header {
  text-transform: uppercase;
  color: #ffead6;
  font-size: 1.2em;
  letter-spacing: 1px;
  margin-bottom: 20px;
}
#about .card .about-header .special {
  color: #ffc21c;
  font-size: 2.5em;
}
#about .card .about-desc {
  color: white;
  font-size: 0.69em;
  text-transform: capitalize;
}

#board {
  width: 100vw;
  height: 100vh;
  background: radial-gradient(circle, rgba(0, 0, 0, 0.8) 60%, rgba(0, 26, 48, 0.8) 100%), url("../asset/img/board-bg.jpg") no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}
#board .container {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
#board .board-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#board .board-card .board-img {
  border: 3px solid #ffc21c;
  border-radius: 50%;
  width: 150px;
  height: 150px;
}
#board .board-card .card-name {
  text-transform: uppercase;
  color: #ffc21c;
  letter-spacing: 2px;
  font-size: 1.2em;
  margin-bottom: 20px;
}
#board .board-card .card-title {
  color: #ffead6;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.92em;
  margin-bottom: 20px;
}
#board .board-card .card-season {
  text-transform: uppercase;
  color: #ffc21c;
  font-size: 0.59em;
  margin-bottom: 20px;
}

#event {
  margin: 2em 0;
}
#event .active-events, #event .unactivated-events {
  width: 100%;
  text-align: left;
}
#event .content {
  margin: 1em auto;
  position: relative;
  overflow-y: hidden;
}
#event .content .event-header {
  text-transform: uppercase;
  color: #ffc21c;
  letter-spacing: 1px;
  font-size: 1.6em;
}
#event .content .event-desc {
  text-transform: capitalize;
  color: #ffead6;
  letter-spacing: 1px;
  font-size: 0.86em;
  margin-bottom: 20px;
}
#event .content::before {
  content: "";
  position: absolute;
  bottom: 5%;
  left: 0;
  width: 80%;
  height: 2px;
  background: #ffc21c;
}
#event .content::after {
  content: "";
  position: absolute;
  bottom: 0%;
  right: 19%;
  width: 15px;
  height: 15px;
  background: #ffc21c;
  border-radius: 50%;
}
#event .wrapper {
  width: 100%;
  display: grid;
  place-items: center;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}
#event .wrapper .event-card {
  padding: 170px;
  margin-bottom: 20px;
  border: 1px solid #ffc21c;
  border-radius: 7px;
  position: relative;
  background-size: cover;
  background-position: center center;
  transition: transform 0.3s ease-in;
}
@media (max-width: 414px) {
  #event .wrapper .event-card {
    padding: 150px;
  }
}
#event .wrapper .event-card:hover {
  transform: scale(0.9);
}
#event .wrapper .event-card .event-name {
  color: #ffc21c;
  text-transform: uppercase;
  font-size: 1.2em;
  letter-spacing: 1px;
  position: absolute;
  top: 5%;
  left: 5%;
}
#event .wrapper .event-card .event-cta {
  padding: 10px 20px;
  background: #ffc21c;
  text-transform: uppercase;
  position: absolute;
  bottom: 5%;
  right: 5%;
  border-radius: 7px;
  transition: all 0.3s ease-out;
}
#event .wrapper .event-card .event-cta:hover {
  border: 1px solid #ffc21c;
  background: #001a30;
  color: #ffc21c;
}

@media (max-width: 414px) {
  #join-modal .modal-container {
    overflow-y: scroll;
  }
}
#join-modal .content .join-header {
  text-transform: uppercase;
  color: #ffc21c;
  letter-spacing: 1px;
  margin-bottom: 20px;
}
#join-modal .content .join-desc {
  color: #ffead6;
  text-transform: capitalize;
}
@media (max-width: 414px) {
  #join-modal .content .join-desc {
    margin-bottom: 30px;
  }
}
#join-modal #join-form {
  width: 95%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
#join-modal .input-field {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding: 15px 30px;
  margin-bottom: 20px;
  text-align: left;
}
#join-modal .input-field label {
  color: #ffc21c;
  text-transform: uppercase;
  text-align: left;
  width: 100%;
}
#join-modal .input-field input {
  border: none;
  outline: none;
  border-bottom: 2px solid #ffc21c;
  background: transparent;
  padding: 10px 5px;
  width: 100%;
  color: #ffead6;
  font-size: 0.78em;
  transition: all 0.3s ease-in;
}
#join-modal .input-field input:focus {
  border-bottom: 3px solid #f7b500;
}
#join-modal .input-field select {
  width: 100%;
  background: transparent;
  color: #ffead6;
  border: 1px solid #ffc21c;
  outline: none;
  padding: 10px 5px;
  text-transform: uppercase;
  transition: all 0.3s ease-in;
}
#join-modal .input-field select:focus {
  border: 2px solid #f7b500;
}
#join-modal .input-field select option {
  background: #2A519E;
  width: 100%;
}
#join-modal .input-field select option:focus {
  background: #ffc21c;
}

#app-modal .modal-container {
  grid-template-rows: 1fr 2fr;
}
#app-modal .content .app-header {
  color: #ffc21c;
  text-transform: uppercase;
  letter-spacing: 1px;
}
#app-modal .content .app-desc {
  color: #ffead6;
  text-transform: capitalize;
}
#app-modal .QR-code {
  width: 45%;
  height: 75%;
  border-radius: 15px;
  background: #ffead6;
  margin-bottom: 25px;
}
@media (max-width: 1024px) {
  #app-modal .QR-code {
    width: 65%;
    height: 65%;
  }
}
@media (max-width: 414px) {
  #app-modal .QR-code {
    width: 80%;
    height: 50%;
  }
}

#our-board .modal-container {
  grid-template-rows: repeat(4, 2fr);
}
#our-board .row-1, #our-board .row-2, #our-board .row-5 {
  display: grid;
  place-items: center;
  margin-bottom: 200px;
  padding: 50px;
}
@media (max-width: 414px) {
  #our-board .row-2 {
    margin-bottom: 390px;
  }
}
@media (max-width: 414px) {
  #our-board .row-5 {
    margin-bottom: 330px;
  }
}
#our-board .row-header {
  padding: 50px;
  margin-bottom: 150px;
}
#our-board .row-header .content {
  text-align: center;
}
@media (max-width: 1024px) {
  #our-board .row-header .content {
    margin: 20px;
  }
}
#our-board .row-header .content .board-header {
  text-transform: uppercase;
  color: #ffc21c;
}
#our-board .row-header .content .board-desc {
  text-transform: capitalize;
  color: #ffead6;
}
#our-board .row-1 {
  grid-template-columns: repeat(1, 1fr);
}
#our-board .row-2 {
  grid-template-columns: repeat(2, 1fr);
}
@media (max-width: 414px) {
  #our-board .row-2 {
    grid-template-columns: repeat(1, 1fr);
  }
}
#our-board .row-5 {
  grid-template-columns: repeat(4, 1fr);
}
@media (max-width: 1024px) {
  #our-board .row-5 {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 414px) {
  #our-board .row-5 {
    grid-template-columns: repeat(1, 1fr);
  }
}
#our-board .card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 20px;
}
#our-board .card .card-img-president {
  width: 150px;
  height: 150px;
  border: 2px solid #ffc21c;
  border-radius: 50%;
}
#our-board .card .card-img-vice {
  width: 100px;
  height: 100px;
  border: 2px solid #ffc21c;
  border-radius: 50%;
}
#our-board .card .card-img-media {
  width: 90px;
  height: 90px;
  border: 2px solid #ffc21c;
  border-radius: 50%;
}
#our-board .card .card-name, #our-board .card .card-name-media, #our-board .card .card-name-vice {
  color: #ffc21c;
  font-size: 1.2em;
  text-align: center;
}
#our-board .card .card-name-media {
  font-size: 0.76em;
}
#our-board .card .card-name-vice {
  font-size: 0.87em;
}
#our-board .card .card-title, #our-board .card .card-title-media, #our-board .card .card-title-vice {
  color: #ffead6;
  font-size: 0.89em;
  text-align: center;
}

#event-modal .modal-container {
  overflow-y: hidden;
}
#event-modal #event-container {
  width: 90%;
  height: 100%;
  margin: 0.5em auto;
  display: grid;
  place-items: center;
}
@media (max-width: 414px) {
  #event-modal #event-container {
    overflow-y: scroll;
  }
}
#event-modal #event-container .content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  text-align: left;
  margin-bottom: 20px;
}
#event-modal #event-container .content .event-name {
  color: #ffc21c;
  font-size: 1.6em;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 20px;
}
#event-modal #event-container .content .event-desc {
  color: #ffead6;
  font-size: 0.86em;
  letter-spacing: 0.5px;
}
#event-modal #event-container .wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  place-items: center;
  grid-gap: 25px;
}
@media (max-width: 414px) {
  #event-modal #event-container .wrapper {
    margin-top: 25px;
  }
}
#event-modal #event-container .wrapper .left .event-body {
  color: #ffead6;
  font-size: 0.74em;
  letter-spacing: 0.5px;
  margin-bottom: 20px;
}
#event-modal #event-container .wrapper .left .event-ticket {
  color: #ffc21c;
  font-size: 0.74em;
  letter-spacing: 1px;
  margin-bottom: 20px;
}
#event-modal #event-container .wrapper .left .event-contact {
  font-size: 0.74em;
  color: #ffead6;
  letter-spacing: 1px;
}
#event-modal #event-container .wrapper .left .event-contact .first-num, #event-modal #event-container .wrapper .left .event-contact .second-num, #event-modal #event-container .wrapper .left .event-contact .third-num {
  color: #ffc21c;
}
#event-modal #event-container .wrapper .right .price {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 0.86em;
  color: #ffc21c;
  text-transform: uppercase;
  letter-spacing: 1px;
}
#event-modal #event-container .wrapper .right .conditional-payment {
  font-size: 0.74em;
  color: #ffc21c;
  text-transform: capitalize;
  letter-spacing: 0.5px;
  text-align: center;
  margin-bottom: 20px;
}
#event-modal #event-container .wrapper .right .form-cta {
  text-transform: uppercase;
  padding: 15px 30px;
  border: none;
  border-radius: 7px;
  outline: none;
  background: #ffc21c;
  cursor: pointer;
  margin-left: 38%;
  transition: all 0.3s linear;
}
@media (max-width: 414px) {
  #event-modal #event-container .wrapper .right .form-cta {
    margin-left: 29%;
  }
}
#event-modal #event-container .wrapper .right .form-cta:hover {
  background: #001a30;
  color: #ffc21c;
  border: 1px solid #ffc21c;
}
#event-modal #event-container .wrapper .right .disabled {
  background: #2A519E;
  opacity: 0.5;
  cursor: default;
  pointer-events: none;
}

@media (max-width: 414px) {
  #event-form .modal-container {
    overflow-y: scroll;
  }
}
#event-form .content .form-header {
  text-transform: uppercase;
  color: #ffc21c;
  letter-spacing: 1px;
  margin-bottom: 20px;
}
#event-form .content .form-desc {
  color: #ffead6;
  text-transform: capitalize;
}
@media (max-width: 414px) {
  #event-form .content .form-desc {
    margin-bottom: 30px;
  }
}
#event-form #form-container {
  width: 95%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
#event-form .input-field {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding: 15px 30px;
  margin-bottom: 20px;
  text-align: left;
}
#event-form .input-field label {
  color: #ffc21c;
  text-transform: uppercase;
  text-align: left;
  width: 100%;
}
#event-form .input-field input {
  border: none;
  outline: none;
  border-bottom: 2px solid #ffc21c;
  background: transparent;
  padding: 10px 5px;
  width: 100%;
  color: #ffead6;
  font-size: 0.78em;
  transition: all 0.3s ease-in;
}
#event-form .input-field input:focus {
  border-bottom: 3px solid #f7b500;
}
#event-form .input-field select {
  width: 80%;
  background: transparent;
  color: #ffead6;
  border: 1px solid #ffc21c;
  outline: none;
  padding: 10px 5px;
  text-transform: uppercase;
  transition: all 0.3s ease-in;
}
#event-form .input-field select:focus {
  border: 2px solid #f7b500;
}
#event-form .input-field select option {
  background: #2A519E;
  width: 100%;
}
#event-form .input-field select option:focus {
  background: #ffc21c;
}
#event-form .input-field select .disabled {
  color: gray;
}

@media (max-width: 414px) {
  #event-form .modal-container {
    overflow-y: scroll;
  }
}
#event-form .content .form-header {
  text-transform: uppercase;
  color: #ffc21c;
  letter-spacing: 1px;
  margin-bottom: 20px;
}
#event-form .content .form-desc {
  color: #ffead6;
  text-transform: capitalize;
}
@media (max-width: 414px) {
  #event-form .content .form-desc {
    margin-bottom: 30px;
  }
}
#event-form #form-container {
  width: 95%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
#event-form .input-field {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding: 15px 30px;
  margin-bottom: 20px;
  text-align: left;
}
#event-form .input-field label {
  color: #ffc21c;
  text-transform: uppercase;
  text-align: left;
  width: 100%;
}
#event-form .input-field input {
  border: none;
  outline: none;
  border-bottom: 2px solid #ffc21c;
  background: transparent;
  padding: 10px 5px;
  width: 100%;
  color: #ffead6;
  font-size: 0.78em;
  transition: all 0.3s ease-in;
}
#event-form .input-field input:focus {
  border-bottom: 3px solid #f7b500;
}
#event-form .input-field select {
  width: 80%;
  background: transparent;
  color: #ffead6;
  border: 1px solid #ffc21c;
  outline: none;
  padding: 10px 5px;
  text-transform: uppercase;
  transition: all 0.3s ease-in;
}
#event-form .input-field select:focus {
  border: 2px solid #f7b500;
}
#event-form .input-field select option {
  background: #2A519E;
  width: 100%;
}
#event-form .input-field select option:focus {
  background: #ffc21c;
}
#event-form .input-field select .disabled {
  color: gray;
}

.modal {
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  display: grid;
  place-items: center;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease-in-out;
}
.modal .modal-container {
  width: 80%;
  height: 90%;
  border-radius: 15px;
  background: #2A519E;
  display: grid;
  place-items: center;
}
.modal .modal-container .content {
  text-align: center;
  width: 100%;
  margin-bottom: 65px;
}
@media (max-width: 1024px) {
  .modal .modal-container .content {
    width: 80%;
  }
}
.modal.open {
  opacity: 1;
  pointer-events: all;
}

/*# sourceMappingURL=main.css.map */
